/* Reset style */
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
:root {
    --width-for-my-screen:1300px;
    --width-fullscreen:100%;
    --font-family:sans-serif;
    --font-weight-400:400;
    --background-color:#39DBBA;
}
html{
    scroll-behavior: smooth;
}
h2{
    text-align: center;
    font-family: 'Brown';
    font-weight: var(--font-weight-400);
    font-size: 36px;
    line-height: 44px;
}
/* This Is The Header Styel */
/* .App{
    width: 100%;
} */
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 32px 40px; */
    gap: 1145px;
    width: var(--width-fullscreen);
    /* 1440px */
    height: 84px;
    position: absolute;
    top: 0px;
    z-index: 10;
}
.inside_header{
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 32px;
    width: var(--width-for-my-screen);
    height: 20px;
}
.header_menu {
    width: 227px;
    height: 15px;
}
.header_menu ul{
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_menu ul li{
    list-style: none;
    display: inline-block;
}
a{
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: var(--font-weight-400);
    font-size: 16px;
    line-height: 15px;
    text-transform: capitalize;
}
#iconG{
    display: none;
}
/* Style Footer */
.flex_for_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
    position: relative;
    width: var(--width-fullscreen);
    height: auto;
    background: var(--background-color);
    color: #FFFFFF;
    font-family: var(--font-family);
    border-top: 1px solid #FFFFFF;
}
.footer a{
    font-weight: var(--font-weight-400);
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer a:hover{
    color: #ffffffa2;
}
.footer span{
    font-weight: var(--font-weight-400);
    font-size: 12px;
    line-height: 17px;
    cursor: default ;
}
.inside_footer{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 64px 0px;
    gap: 10px;
    width: var(--width-for-my-screen);
    min-height: auto;
}
.inside_footer-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 470px;
    height: 121px;
    padding: 0px 39px;
}
.footer_logo{
    height: 100%;
}
.social-icons img{
    margin: 0px 12px 0px 0px;
}
.footer_address{
    height: inherit;
}
.copyright :nth-child(1){
    margin: 0px 30px 0px 0px;
}
.inside_footer-right{
    width: 400px;
    height: 121px; 
    padding: 0px 39px;
}
.inside_footer-right button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 16px 14px;
    gap: 10px;
    width: 81px;
    height: 44px;
    /* Secondary/Jade */
    background-color: #2CA88F;
    border-radius: 4px; 
    border: none;
    color: #ffffff;
    font-family: var(--font-family);
    /* Inside auto layout */
    /* flex: none;
    order: 0;
    flex-grow: 0; */
}
.inside_footer-right button:hover{
    background-color: #3eaf9994
}
.inside_footer-right input{
    font-weight: var(--font-weight-400);
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    width: 100%;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    background-color: #2ca88f00;
    padding: 10px 0px;
    outline: none;
    font-family: var(--font-family);
}
.inside_footer-right input::placeholder{
    color: #FFFFFF;
    font-family: var(--font-family);
}
/* **************************************************************************************************************** */
/* title */
.title_section{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    position: relative;
}
.inside-title{
    width: 904px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inside-title h2{
    color: #FFFFFF;
}
/* title-two */
.title-two {
    background-color: #477DE1;
    position: relative;
}
.title-two button{
    width: 159px;
    height: 44px;
    padding: 16px 16px 14px ;
    gap: 10px;
    background-color: #1F69C7;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 45px;
}
.title-two h2{
    margin-bottom: 38px;
}
.title-two h4 ,p{
    color: #FFFFFF;
}
.title-two h4{
    font-size: 18px;
    line-height: 24px;
}
.title-two p{
font-size: 16px;
    line-height: 20px;
}
/* title-three */
.title-three {
    background-color: var(--background-color);
    height: 551px
}
/* image background */
.image_bg {
    width: 100%;
    height: 800px;
    position: relative;
}
.image_bg img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
/* describle */
.describe{
    width: 100%;
    height: 953px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.describe .header a{
    color: #191A19;
}
.describe .header #iconW{
    display: none;
}
.describe .header #iconG{
    display: block;
}
.title_describe{
    text-align: center;
}
.describe h2{
    color:#191A19;
}
.describe p{
    color:black;
    font-size: 14px;
    line-height: 20px;
}
.inside_describe{
    width: 1142px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.content_describe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px
}
.in_content{
    width: 247px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.in_content h3{
    color:#191A19;
    margin-bottom:20px ;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.in_content-img{
    margin-bottom: 40px;
}
.in_content-img img{
    height: 104px;
}
.in_content-text {
    height: 145px;
}
/* brand */
.brand{
    width: 100%;
    height: 1130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* neen tạo 1 container chung cho các thuộc tính của các thẻ to nhất */
}
.brand .header a{
    color: #191A19;
}
.brand .header #iconW{
    display: none;
}
.brand .header #iconG{
    display: block;
}
.inside_brand{
    width: 1130px;
    height: 807px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_brand{
    margin-bottom: 103px;
}
.logo_brand{
    display: flex;
    font-family: 'Brown';
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 31px;
    width: 80%;
}
.logo_brand img{
    object-fit: contain;
}
.moretitle_brand h2{
    margin: 130px 0px 72px 0px;
}
.services_page {
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.services_page ul li{
    list-style: none;
    text-align: center;
}
.services_page a{
    font-family: 'Brown';
    font-size: 16px;
    line-height: 22px;
    color: #191A19;
}
/* galeery */
.gallery{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto ;
}
.gallery img{
    width: 100%;
    height: 100%;
}
.gallery h3, p{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 40px;
    line-height: 30px;
}
.gallery_f{
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
}
.gallery_hv{
    position: relative;
}
.gallery_show{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    /* display: none; */
    opacity: 0;
    transform: translateY(20px);
    transition: ease-in-out .6s;
}
.gallery_hv:hover .gallery_show{
    transform: translateY(0px);
    display: block;
    opacity: 1;
    
    /* transform: translateY(0px); */
    
}
.gallery_show-text{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.show-text{
    width: auto;
    height: auto;
    padding: 0px 0px 48px 40px;
   
}
/* Arrow */
.arrow{
    width: inherit;
    margin: 0 auto;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-17px);
    cursor: pointer;
    z-index: 20;
}
.in_arrow{
    width: initial;
    border-radius: 50%;
    background-color:#193c3561;
    transition: ease-out .1s;
}
.arrow:hover .in_arrow{
    background-color: var(--background-color);
}
.arrow img{
    border: #181a18 1px transparent;
    margin: 0 auto;
    padding: 5px 8px 1px;
}

@media only screen and (max-width:1439px){
    .inside_footer{
        width: 100%;
    }
    
}
@media only screen and (max-width:1024px){
    .inside_describe {
        height: 600px;
    }
    .content_describe{
        flex-direction: row;
        width: 800px;
        height: auto;
    }
    .in_content{
        height: 400px;
    }
    .in_content-img{
        margin-bottom: 20px;
    }
    .in_content-text {
        height: 252px;
    }
    .in_content-text h3{
        min-height: 48px;
    }
    .gallery_show{
        display: none;
    }
    .show-text {
        width: 225px;
    }
}
@media only screen and (max-width:912px){
    h2{
        font-size: 30px;
    }
    .gallery h3, p{
        font-size: 20px;
    }
    .logo_brand{
        width: 600px;
    }
    .inside_footer-right {
        padding: 0px 0px;
    }
    .services_page{
        width: 60%;
    }
}
@media only screen and (max-width: 768px) {
    h2{
        font-size: 26px;
    }
    .title_section, .image_bg, .title-two{
        height: 700px;
    }
    .brand{
        height: 1080px;
    }
    .title_brand {
        margin-bottom: 60px;
    }
    .moretitle_brand h2{
        margin: 65px 0px 65px 0px;
    }
    .content_describe{
        width: 670px;
    }
    /* .inside_footer-left {
        padding: 0px 0px 0px 39px;
    } */
    .show-text{
        width: 200px;
        padding: 0px 0px 20px 20px;
    }
    .footer_address {
        padding-right: 10px;
    }
    .copyright :nth-child(1) {
        margin: 0px 10px 0px 0px;
    }
}
@media only screen and (max-width: 600px){
    .title_section, .image_bg, .title-two{
        height: 500px;
    }
    h2{
        font-size: 22px;
        line-height: 31px;
    }
    .header a{
        font-size: 13px;
    }
    .header_icon img{
        width: 15px;
        height: 15px;
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .gallery img{
        height: 100%;
    }
    .gallery .gallery_f {
        width: 100%;
        height: 250px;
    }
    .gallery .gp{
        width: 50%;
        height: 140px;
    }
    .gallery img{
        object-fit: cover;
    }
    .gallery_show{
        width: 100%;
    }
    .gallery h3, p{
        font-size: 14px;
        line-height: 22px;
    }
    .inside_describe {
        gap: 30px;
        height: auto;
    }
    .show-text{
        width: auto;
        padding:0px 5px 25px 5px;
        margin: 0 auto;
    }
    .in_content {
        width: 200px;
        height: 263px;
    }
    .content_describe{
        width: 422px;
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .in_content-img img{
        width: 71px;
        height: 66px;
    }
    .logo_brand{
        width: 494px;
    }
    .logo_brand img {
        width: 74px;
        height: 60px;
    }
    .services_page a {
        font-size: 12px;
    }
    .inside_footer{
        padding: 30px 0px;
        flex-direction: column;
        align-items: center;
    }
    /* .inside_footer-left{
        height: 100px;
        padding: 0px;
        
    }
    .inside_footer-right{
        height: 100px;
        width: 478px;
    } */
    .inside_footer{
        width: 85%;
    }
    .inside_footer-left, .inside_footer-right{
        width: 100%;
    }
}
@media only screen and (max-width:540px){
    .services_page a {
        font-size: 11px;
    }
}
@media only screen and (max-width:480px){
    .title_section, .image_bg, .title-two {
        height: 440px;
    }
    h2{
        padding: 30px 20px 0px;
        font-size: 18px;
    }
    .header{
        height: auto;
    }
    .inside_header{
        padding: 22px 30px;
    }
    .header_menu{
        width: 180px;
    }
    .describe{
        height: 800px;
    }
    .content_describe {
        justify-content: space-evenly;
        width: 100%;
        column-gap: 0;
        row-gap: 20px;
    }
    .in_content{
        height: 210px;
    }
    .in_content-img {
        margin-bottom: 4px;
    }
    .in_content-img img {
        width: 40px;
        height: 39px;
    }
    .in_content-text {
        height: 100%;
    }
    .in_content-text h3{
        font-size: 14px;
        min-height: auto;
    }
    .in_content-text p{
        font-size: 12px;
    }
    .title-two h2{
        margin-bottom: 10px;
    }
    .title-two h4, p{
        font-size: 15px;
    }
    .title-two p{
        font-size: 11px;
    }
    .title-two button{
        margin-top: 18px;
        padding: 12px 12px 10px;
    }
    .brand{
        height: 1000px;
    }
    .logo_brand{
        width: 300px;
    }
    .logo_brand img {
        height: 38px;
    }
    .moretitle_brand h2{
        margin: 0px 0px 20px;
    }
    .services_page{
        width: 70%;
    }
    .inside_footer-left{
        padding: 0px;
    }
}
@media only screen and (max-width:414px){
    .in_content{
        width: 175px;
    }
    .gallery_l .show-text{
        padding: 0px 13px 13px 16px;
    }
    .gallery_l .show-text h3, p {
        font-size: 10px;
    }
    .content_describe{
        flex-direction: column;
    }
    .in_content{
        flex-direction: row;
        width: 85%;
        height: 115px;
        justify-content: center;
        align-items: center;
    }
    .in_content-img{
        padding-right: 10px;
    }
    .in_content h3{
        margin-bottom: 10px;
    }
    .arrow{
        left: 85%;
    }
}
@media only screen and (max-width: 360px){
    h2{
        padding: 50px 20px 0px;
        font-size: 18px;
        line-height: 23px;
    }
    .inside_header {
        padding: 22px ;
    }
    .title_section, .image_bg, .title-two {
        height: 380px;
    }
    .logo_brand{
        width: 200px;
    }
    .moretitle_brand h2 {
        margin: 0px 0px 40px;
    }
    .services_page {
        width: 85%;
    }
    .describe {
        padding-bottom: 40px;
    }
    .inside_footer {
        min-height: 280px;
    }
    .inside_footer-left{
        flex-direction: column;
    }
    .footer a{
        font-size: 13px;
    }
    .inside_footer-right{
        height: 100px;
    }
    .inside_footer-right input {
        font-size: 13px;
    }
}
@media only screen and (max-width: 280px){
    h2 {
        padding: 50px 12px 0px;
        font-size: 13px;
        line-height: 20px;
    }
    .content_describe {
        gap: 30px;
    }
    .in_content {
        height: 120px;
    }
    .in_content-text p {
        font-size: 10px;
    }
}

    
